* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 16px;
}

/* Search Form Styles Start */
.search-form {
  background-color: lightblue;
}

.form-container {
  padding-top: 12px;
}
/* Search Form Styles End */

/* Search Response Styles Start */
.form-response {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: tan;
}

.search-response {
  width: 40%;
  padding: 8px;
  border: solid 1px;
}

.response-top {
  margin-bottom: 18px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  text-align: center;
}

.song-container, .genre-container {
  padding-bottom: 0;
}

.response-title {
  font-size: 40px;
  line-height: 1;
}

.response-subtitle {
  font-size: 20px;
  font-style: italic;
}

.album-name {
  font-size: 20px;
}

.list-title {
  font-size: 24px;
  font-weight: bold;
}

.track-list {
  margin-bottom: 0;
  line-height: 2;
}
/* Search Response Styles End */

/* Carousel Styles Start */
.orbit-container {
  image-rendering: auto;
}

.orbit-caption {
  text-align: center;
}
/* Carousel Styles End */

/* Media Queries */
@media screen and (max-width: 639px) {
  .search-response {
    width: 100%;
  }
  
  .video-container {
    width: 100%;
  }

  .video-container iframe {
    width: 100%;
  }
}

