body {
  padding: 0 8px;
}

.form-container {
  padding-top: 12px;
}

.orbit-container {
  image-rendering: auto;
}

.orbit-caption {
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-container iframe {
  width: 100%;
}

@media screen and (min-width: 639px) {
  
}

